.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-navi {
  float: left;
  margin-left: 10px;
}

.App-navi .navi {
  font-size: 14px;
  background-color: aliceblue;
  color: blue;
  margin-left: 15px;
  padding: 10px;
}

.App-user-info {
  float: right;
  margin-right: 10px;
  margin-top: -20px;
}

.App-content {
  margin: 20px;
  height: 100%;
}

.product {
  background-color: oldlace;
  padding: 20px;
  margin: 10px;
}

.admin {
  background-color: honeydew;
  padding: 20px;
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
